<%
  # Parameters: dataset, latest = nil

  latest = false if local_assigns[:latest].nil? 
%>

<table class="summary">
  <tr align="left">
    <th></th>
    <th>#Obs</th>
    <th>Avg</th>
    <th>Min</th>
    <th>Max</th>
    <th>
    <% if latest %>Latest<% end %>
    </th>
  </tr>
<% dataset.keys.sort.each do |station| %>
  <tr align="left">
    <td><%= site_link(station) %></td>
    <td><%= dataset[station][:total] %></td>
    <td><%=degrees dataset[station][:mean] %></td>
    <td><%=degrees dataset[station][:min] %></td>
    <td><%=degrees dataset[station][:max] %></td>
    <td>
    <% if latest %>
      <%=degrees dataset[station][:last_temp] %>
    <% end %>    
    </td>
  </tr>
<% end %>  
</table>
