<div class="subtitle">Local Observations by Site</div>

<table width="100%">
  <tr>
    <td valign="top">
      Office: <%= @office %>
      <br />
      <p>
      <%= link_to "Back to office temperature", local_path %>.
      </p>
    </td>       
    <td>      
    </td> 
  </tr>
</table>


<div class="subsubtitle">Today</div>
<div class="datasummary">  
  <p>
    <img src="<%= @graph.get_today_graph("Office Temperature: Today") -%>" />
  </p>
  <p>
    <%= render :partial=>"summary", :locals => {:dataset=>@graph.get_today_summary,:latest=>true} %>
  </p>
</div>

<div class="subsubtitle">Recent days</div>
<div class="datasummary">
  <p>
    <img src="<%= @graph.get_recent_days_contiguous_graph("Office Temperature: Recent Days - Contiguous") -%>" />
  </p>
  <p>
    <%= render :partial=>"summary", :locals => {:dataset=>@graph.get_recent_day_contiguous_summary} %>
  </p>
</div>  

