<div class="subtitle">Office Observations by Site</div>

<table width="100%">
  <tr>
    <td valign="top">
      <%= link_to @office, local_path  %> > <%= link_to "Sites", localsites_path  %>
      <br />
      <p>
      <%= link_to "Back", local_path %>
      </p>
    </td>       
    <td class="current_temp_td">
      <span class="current_temp"><%=degrees  @local.get_last_temp_avg %></span>
      <br />
      <p>
      In the office <br />
      <small>
      (avg last 30 mins)
      </small>
      </p>
    </td> 
  </tr>
</table>

<div class="subsubtitle">Today</div>
<div class="datasummary">  
  <p>
    <img src="<%= @graph.get_today_graph("Office Temperature: Today") -%>" />
  </p>
  <p>
    <%= render :partial=>"summary", :locals => {:dataset=>@graph.get_today_summary,:latest=>true} %>
  </p>
</div>

<div class="subsubtitle">Recent days</div>
<div class="datasummary">
  <p>
    <img src="<%= @graph.get_recent_days_contiguous_graph("Office Temperature: Recent Days - Contiguous") -%>" />
  </p>
  <p>
    <%= render :partial=>"summary", :locals => {:dataset=>@graph.get_recent_day_contiguous_summary} %>
  </p>
</div>  

<br />

<div class="subsubtitle">All Sites for Office</div>

<p>
There are <%= @sites.length %> temperature sites for this office, as follows:
<br /> 
<% @sites.each do |site| %>
  <%= link_to site.name, site_path(:name=>site.name) %> |
<% end %>
</p>


<br /><br /><br /><br />
<%= link_to "Back", local_path %>
