<div class="subtitle">Office Observations</div>

<table width="100%">
  <tr>
    <td valign="top">
      <%= @office  %>
      <br />
      <p>
      <%= link_to "Observations By Site", localsites_path  %>
      </p>     
      <p>
      <% if !@temp_difference.nil? %>
      It is <strong><%= degrees @temp_difference %></strong>
      <%= ((@temp_difference>0) ? "warmer" : "cooler") %> in the office than outside.
      <br />
      <% end %>
      <small>(It is currently <%= degrees @bom_temp %> in  <%= @station.name %>).</small>
      </p>      
    </td>   
     
    <td class="current_temp_td">
      <span class="current_temp"><%=degrees  @local.get_last_temp_avg %></span>
      <br />
      <p>
      In the office <br />
      <small>
      (avg last 30 mins)
      </small>
      </p>
    </td> 
  </tr>
</table>


<div class="subsubtitle">Today</div>
<div class="datasummary">  
  <p>
    <img src="<%= @graph.get_today_graph("Office Temperature: Today") -%>" />
  </p>
  <p>
    <%= render :partial=>"summary", :locals => {:dataset=>@graph.get_today_summary,:latest=>true} %>
  </p>
</div>

<div class="subsubtitle">Recent days</div>
<div class="datasummary">
  <p>
    <img src="<%= @graph.get_recent_days_contiguous_graph("Office Temperature: Recent Days - Contiguous") -%>" />
  </p>
  <p>
    <%= render :partial=>"summary", :locals => {:dataset=>@graph.get_recent_day_contiguous_summary} %>
  </p>  
</div>  

