<div class="subtitle">Local Observations</div>

<table width="100%">
  <tr>
    <td valign="top">
    Office: <%= @office %>
    </td>   
     
    <td class="current_temp_td">
      <span class="current_temp"><%=degrees  @local.get_last_temp_avg %></span>
      <br />
      <p>
      <small>In the office</small>
      </p>
    </td> 
  </tr>
</table>


<div class="subsubtitle">Today</div>
<div class="datasummary">  
  <p>
    <img src="<%= @graph.get_today_graph("#{@bom.name} Temperature: Today") -%>" />
  </p>
  <p>
    <%= render :partial=>"summary", :locals => {:dataset=>@graph.get_today_summary,:latest=>true} %>
  </p>
</div>

<div class="subsubtitle">Recent days</div>
<div class="datasummary">
  <p>
    <img src="<%= @graph.get_recent_days_contiguous_graph("#{@bom.name} Temperature: Recent Days - Contiguous") -%>" />
  </p>
  <p>
    <%= render :partial=>"summary", :locals => {:dataset=>@graph.get_recent_day_contiguous_summary} %>
  </p>  
</div>  

