<div class="subtitle">Official Observations</div>

<table width="100%">
  <tr>
    <td valign="top">
      <% form_tag official_path, :method => 'get' do %>
          Capital: <%= select_tag(:station_id, options_from_collection_for_select(@stations, :id, :name, params[:station_id].to_i)) %>
          <%= submit_tag "change", :name => nil %>
      <% end %>
    </td>    
    <td class="current_temp_td">
      <span class="current_temp"><%=degrees @bom.get_last_temp %></span>
      <br />
      <p>
      <small>In <%= @station.name %></small>
      </p>
    </td>
  </tr>
</table>  



<div class="subsubtitle">Today</div>
<div class="datasummary">  
  <p>
    <img src="<%= @graph.get_today_graph("#{@bom.name} Temperature: Today") -%>" />
  </p>
  <p>
    <%= render :partial=>"summary", :locals => {:dataset=>@graph.get_today_summary,:latest=>true} %>
  </p>
</div>

<div class="subsubtitle">Recent days</div>
<div class="datasummary">
  <p>
    <img src="<%= @graph.get_recent_days_contiguous_graph("#{@bom.name} Temperature: Recent Days - Contiguous") -%>" />
  </p>
  <p>
    <%= render :partial=>"summary", :locals => {:dataset=>@graph.get_recent_day_contiguous_summary} %>
  </p>

  <br />

  <p>
    <img src="<%= @graph.get_recent_days_graph("#{@bom.name} Temperature: Recent Days - By Day") -%>" />
  </p>
  <p>
    <%= render :partial=>"summary", :locals => {:dataset=>@graph.get_recent_days_summary} %>
  </p>
</div>  

