<div class="subtitle">Office Site: <%= @local.name %></div>

<table width="100%">
  <tr>
    <td valign="top">
      <%= link_to @office, local_path  %> > <%= link_to "Sites", localsites_path  %> > <%= link_to @local.name, site_path(:name=>@local.name) %>
      <br />
      <p>
      <%= link_to "Back", localsites_path  %>
      </p>
    </td>       
    <td class="current_temp_td">
      <span class="current_temp"><%=degrees  @local.get_last_temp(@local.name) %></span>
      <br />
      <p>
      At site <br />
      <small>
      (avg last 30 mins)
      </small>
      </p>
    </td> 
  </tr>
</table>

<div class="subsubtitle">Overview</div>
<p>
  <p>
    <%= render :partial=>"site_summary", :locals => {:summary=>@local.get_summary_for_site} %>
  </p> 
</p>


<div class="subsubtitle">Last 10 Observations</div>
<div class="datasummary">  
  <p>
    <img src="<%= @recent_graph.get_recent_obs_graph("#{@local.name} Temperature: Last 10 Observations") -%>" />
  </p>
    <p>
    <%= render :partial=>"obs", :locals => {:sensors=>@local.recent_resultset} %>
  </p> 
</div>


<div class="subsubtitle">Today</div>
<div class="datasummary">  
  <p>
    <img src="<%= @graph.get_today_graph("#{@local.name} Temperature: Today") -%>" />
  </p>
  <p>
    <%= render :partial=>"summary", :locals => {:dataset=>@graph.get_today_summary,:latest=>true} %>
  </p>
</div>



<div class="subsubtitle">Last 7 Days</div>
<div class="datasummary">
  <p>
    <img src="<%= @graph.get_recent_days_contiguous_graph("#{@local.name} Temperature: Recent Days - Contiguous", 7) -%>" />
  </p>
  <p>
    <%= render :partial=>"summary", :locals => {:dataset=>@graph.get_recent_day_contiguous_summary(7) } %>
  </p>

  <br />
  
  <p>
    <img src="<%= @graph.get_recent_days_boxplot_graph(@local.name, "#{@local.name} Temperature: Recent Days - By Day") -%>" />
  </p>
  <p>
    <%= render :partial=>"summary", :locals => {:dataset=>@graph.get_recent_days_summary} %>
  </p>  

  <br />

  <p>
    <img src="<%= @graph.get_recent_days_graph("#{@local.name} Temperature: Recent Days - By Day") -%>" />
  </p>
</div>



<br /><br /><br /><br />
<%= link_to "Back", localsites_path  %>




