<div class="subtitle">Welcome</div>

<p>
  Welcome to the <strong>Office Temperature Project</strong>, the objectives of which are 
  to observe and present local temperature information, such as within an office building.
  (<%= link_to "learn more", about_path %>...)
</p>

<div class="subsubtitle">Official Observations</div>
<p>
Review official temperature information from the Australian Bureau of Meteorology.
</p>
<p>
Capital Cities: 
<% @stations.each do |station| %> 
  <%= link_to station.name, official_path(:station_id=>station.id) -%> |
<%end%>
</p>

<div class="subsubtitle">Local Observations</div>
<p>
Review local temperature information observed within your office.
</p>
<p>
Offices: 
<% @offices.each do |office| %> 
  <%= link_to office, local_path -%> 
<%end%>
</p>


<div class="subsubtitle">Experiments (soon to be deleted...)</div>
<p>
<ul>
  <li>
    <%= link_to "Experiment #3", experiment3_path %>: A reception point for local temperature sensors...works
    <ul>
      <li><%= link_to "Manage collected sensor data", sensors_path %></li>
    </ul>
  </li>
  <li>
    <%= link_to "Experiment #5", experiment5_path %>: Station (site) lists and stats...in progress
  </li>    
</ul>
</p>

