<div class="subtitle">Temperature Experiment 1</div>

<p>
The objective of this experiment is to inject recent temperature 
readings and present them as a graph.
</p>


<p>
There were <%= @temp_data.size %> temperature observations for today.
</p>

<p>
  <img src="<%=make_temp_graph_img_url(@temp_data) -%>" />
</p>

<p>
  The data comes from the <%= link_to "Latest Weather Observations for Melbourne", "http://www.bom.gov.au/products/IDV60801/IDV60801.94868.shtml" %>.
  <br />
  See the <%= link_to "JSON Source", @jsonurl %>.
</p>


debug: <%=make_temp_graph_img_url(@temp_data) -%>
