<div class="subtitle">Temperature Experiment 2</div>

<p>
A graph of temperature from recent days from: <strong><%= @station.name %></strong>.
</p>

<% form_tag experiment2_path, :method => 'get' do %>
    Station: <%= select_tag(:station_id, options_from_collection_for_select(@stations, :id, :name, params[:station_id].to_i)) %>
    <%= submit_tag "change", :name => nil %>
<% end %>
</p>
<hr />


<p>
  A graph temperature from the last four days, each day as a separate series. 
</p>
<img src="<%=make_multiday_temp_graph_img_url(@temp_data) -%>" />
<br/ >

<hr />
<p>
  A graph of temperature from the lat four days as a single series.  
</p>
<img src="<%=make_multi_day_sequence_graph_img_url(@temp_data) -%>" />
<br />


<p>
  
  Data is from the BOM, see the <%= link_to "JSON Source", @station.url %>.
</p>


<br />
<p>
<strong>TODOs</strong>
<ul>
  <li>Display x axis labels.</li>
  <li>Summary data for each day (complete day?).</li>
</ul>
</p>
