<div class="subtitle">Temperature Experiment 2</div>

<p>
A graph of temperature from recent days.
</p>


<p>
There were <%= @temp_data.size %> days of observations.
</p>

<p>
  <img src="<%=make_multiday_temp_graph_img_url(@temp_data) -%>" />
</p>

<p>
  <img src="<%=make_multi_day_sequence_graph_img_url(@temp_data) -%>" />
</p>


<p>
  The data comes from the <%= link_to "Latest Weather Observations for Melbourne", "http://www.bom.gov.au/products/IDV60801/IDV60801.94868.shtml" %>.
  <br />
  See the <%= link_to "JSON Source", @jsonurl %>.
</p>


<br />
<p>
<strong>TODOs</strong>
<ul>
  <li>User selection of weather station (not hard coded to melbourne)</li>
  <li>Display x axis labels.</li>
  <li>Summary data for each day (complete day?).</li>
</ul>
</p>
