<div class="subtitle">Temperature Experiment 4</div>

<p>
A graph of Today's temperature from the BOM station: <strong><%= @station.name %></strong>
against the data from local sensors.
</p>

<% form_tag experiment4_path, :method => 'get' do %>
    Station: <%= select_tag(:station_id, options_from_collection_for_select(@stations, :id, :name, params[:station_id].to_i)) %>
    <%= submit_tag "change", :name => nil %>
<% end %>
</p>
<hr />

<h2>Today</h2>
<p>
This graph shows all local sensor observations plotted against temperature data from the BOM for today.
</p>
<table border=1>
  <tr>
    <th>Station</th>
    <th># Obs</th>
    <th>Avg Temp</th>
    <th>Min Temp</th>
    <th>Max Temp</th>
    <th>Last Temp</th>
  </tr>
<% @summary_today.keys.each do |station| %>
  <tr>
    <td><%= link_to station, {:action=>"temp6", :name=>station} %></td>
    <td><%= @summary_today[station]["total"] %></td>
    <td><%= @summary_today[station]["mean"].round(3) %>&deg;C</td>
    <td><%= @summary_today[station]["min"].round(3) %>&deg;C</td>
    <td><%= @summary_today[station]["max"].round(3) %>&deg;C</td>
    <td><%= @summary_today[station]["last_temp"].round(3) %>&deg;C at <%= @summary_today[station]["last_time"] %></td>
  </tr>
<% end %>  
</table>
<br />
<img src="<%=make_day_sensors_graph_img_url(@results_today, "Today", @bom_today) -%>" />


<br />
<hr />
<br />


<h2>Recent Days</h2>
<p>
This graph shows all local sensor observations plotted against temperature data from the BOM over recent days.
</p>
<table border=1>
  <tr>
    <th>Station</th>
    <th># Obs</th>
    <th>Avg Temp</th>
    <th>Min Temp</th>
    <th>Max Temp</th>
    <th>Last Temp</th>
  </tr>
<% @summary_recent.keys.each do |station| %>
  <tr>
    <td><%= link_to station, {:action=>"temp6", :name=>station} %></td>
    <td><%= @summary_recent[station]["total"] %></td>
    <td><%= @summary_recent[station]["mean"].round(3) %>&deg;C</td>
    <td><%= @summary_recent[station]["min"].round(3) %>&deg;C</td>
    <td><%= @summary_recent[station]["max"].round(3) %>&deg;C</td>
    <td><%= @summary_recent[station]["last_temp"].round(3) %>&deg;C at <%= @summary_recent[station]["last_time"] %></td>
  </tr>
<% end %>  
</table>
<br />
<img src="<%=make_multi_day_sequence_with_sensor_graph_img_url(@results_recent, @bom_recent, "Recent Days") -%>" />




<br />
<p>
<strong>TODOs</strong>
<ul>
  <li>Select sensor data by station (site) and combine on graph (currently just selects all observations for time period)</li>
  <li>Allow filtering by station/location</li>
  <li>Map UTC to time zone of collected data</li>
</ul>
</p>
