<div class="subtitle">Temperature Experiment 4</div>

<p>
A graph of Today's temperature from the BOM station: <strong><%= @station.name %></strong>
against the data from local sensors.
</p>

<% form_tag experiment4_path, :method => 'get' do %>
    Station: <%= select_tag(:station_id, options_from_collection_for_select(@stations, :id, :name, params[:station_id].to_i)) %>
    <%= submit_tag "change", :name => nil %>
<% end %>
</p>
<hr />

<p>
  <strong>Today (observations from <%= @results_today.length %> local stations)</strong> <br />
  <img src="<%=make_day_sensors_graph_img_url(@results_today, "Today", @bom_today) -%>" />
</p>

<p>
  <strong>Yesterday (observations from <%= @results_yesterday.length %> local stations)</strong><br />
  <img src="<%=make_day_sensors_graph_img_url(@results_yesterday, "Yesterday", @bom_yesterday) -%>" />
</p>




<br />
<p>
<strong>TODOs</strong>
<ul>
  <li>Select sensor data by station (site) and combine on graph (currently just selects all observations for time period)</li>
  <li>Allow filtering by station/location</li>
  <li>Map UTC to time zone of collected data</li>
</ul>
</p>
