<div class="subtitle">Temperature Experiment 4</div>

<p>
A graph of Today's temperature in <strong>Melbourne, Victoria, Australia</strong>
with data from the BOM and local sensors.
</p>

<p>
  <strong>Today (lazy)</strong> <br />
  <% if @sensors_today.empty? %>
    No data
  <% else %>
    <img src="<%=make_day_sensors_graph_img_url(@sensors_today, "Today") -%>" />
  <%end%>
</p>

<p>
  <strong>Yesterday (lazy)</strong><br />
  <% if @sensors_yesterday.empty? %>
    No data
  <% else %>
    <img src="<%=make_day_sensors_graph_img_url(@sensors_yesterday, "Yesterday") -%>" />
  <%end%>
</p>


<p>
Debug: <br />
sensors today: <%= @sensors_today.length %>,
sensors yesterday: <%= @sensors_yesterday.length %>
<br />
<%= descretize_sensor_data(@sensors_today).keys %>
</p>

<br />
<p>
<strong>TODOs</strong>
<ul>
  <li>Discretize the sensor data into 30 min blocks, plot with bom data</li>
  <li>Allow filtering by station/location</li>
  <li>Map UTC to time zone of collected data</li>
</ul>
</p>
