<h1>Editing sensor</h1>

<% form_for(@sensor) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :temp %><br />
    <%= f.text_field :temp %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @sensor %> |
<%= link_to 'Back', sensors_path %>